@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.269 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.269 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.269 0 0);
  --primary: oklch(0.8719 0.1829 125.59);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.5591 0.0631 185.87);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.269 0 0);
  --destructive: oklch(0.1908 0.0020 106.5859);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.8719 0.1829 125.59);
  --chart-1: oklch(0.8719 0.1829 125.59);
  --chart-2: oklch(0.5591 0.0631 185.87);
  --chart-3: oklch(0.8719 0.1829 125.59);
  --chart-4: oklch(0.8565 0.0734 182);
  --chart-5: oklch(0.9676 0.0628 121.5);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.269 0 0);
  --sidebar-primary: oklch(0.8719 0.1829 125.59);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9851 0 0);
  --sidebar-accent-foreground: oklch(0.269 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.8719 0.1829 125.59);
  --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --base-50: oklch(0.9851 0 0);
  --base-100: oklch(0.97 0 0);
  --base-200: oklch(0.922 0 0);
  --base-300: oklch(0.87 0 0);
  --base-400: oklch(0.708 0 0);
  --base-500: oklch(0.556 0 0);
  --base-600: oklch(0.439 0 0);
  --base-700: oklch(0.371 0 0);
  --base-800: oklch(0.269 0 0);
  --base-900: oklch(0.205 0 0);
  --base-950: oklch(0.145 0 0);
  --base-1000: oklch(0.106 0 0);
  --primary-50: oklch(0.9866 0.0288 120.05);
  --primary-100: oklch(0.9676 0.0628 121.5);
  --primary-200: oklch(0.9384 0.1189 123.4);
  --primary-300: oklch(0.8719 0.1829 125.59);
  --primary-400: oklch(0.8416 0.2214 127.63);
  --primary-500: oklch(0.7692 0.2165 129.47);
  --primary-600: oklch(0.6495 0.1859 130.24);
  --primary-700: oklch(0.5331 0.1462 130.1);
  --primary-800: oklch(0.4542 0.1157 129.41);
  --primary-900: oklch(0.406 0.0943 129.43);
  --primary-950: oklch(0.2748 0.0672 130.42);
  --primary-1000: oklch(0.1896 0.0494 131.02);
  --secondary-50: oklch(0.9867 0.0076 181.58);
  --secondary-100: oklch(0.9553 0.0271 181.68);
  --secondary-200: oklch(0.9119 0.0509 181.34);
  --secondary-300: oklch(0.8565 0.0734 182);
  --secondary-400: oklch(0.7781 0.0811 182.96);
  --secondary-500: oklch(0.7047 0.0747 183.62);
  --secondary-600: oklch(0.5591 0.0631 185.87);
  --secondary-700: oklch(0.5115 0.0514 187.55);
  --secondary-800: oklch(0.4378 0.0417 189.35);
  --secondary-900: oklch(0.3869 0.0337 189.61);
  --secondary-950: oklch(0.2784 0.0247 192.66);
  --secondary-1000: oklch(0.2077 0.0189 193.33);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.922 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.922 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.922 0 0);
  --primary: oklch(0.8719 0.1829 125.59);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.5591 0.0631 185.87);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.87 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.922 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.269 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.8719 0.1829 125.59);
  --chart-1: oklch(0.8719 0.1829 125.59);
  --chart-2: oklch(0.5591 0.0631 185.87);
  --chart-3: oklch(0.8719 0.1829 125.59);
  --chart-4: oklch(0.8565 0.0734 182);
  --chart-5: oklch(0.9676 0.0628 121.5);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.922 0 0);
  --sidebar-primary: oklch(0.8719 0.1829 125.59);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.922 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.8719 0.1829 125.59);
  --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}